<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TinyApp</title>
</head>
<body>
 

  <h1>List of URLs</h1>

  <%- include partials/_header.ejs %>

  <% if (user) { %>
  <table border="1">
    <thead>
      <tr>
        <th>Short URL</th>
        <th>Long URL</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% for ( let shortUrl in urls ) { %>
      <tr>
        <td><%= shortUrl %></td>
        <td><%= urls[shortUrl].url %></td>
        <% if ( user && user.id === urls[shortUrl].userID ) { %>
        <td><a href="/urls/<%= shortUrl %>">Edit</a></td>
        <td><form method="POST" action="/urls/<%= shortUrl %>?_method=DELETE"><input type="submit" value="Delete"></form></td>
        <% } %>
      </tr>  
    <% } %>
      </tbody>
    </table>
    <% } else { %>
      <h2>Please Login or Register</h2>

      You must be logged in to view the list of URLs.

    <% } %>
</body>
</html>